/* ─────────────── SERVICE ─────────────── */

.service {
  padding: var(--section-padding);
}

/* ─────────────── TITLE SIDE ─────────────── */

.service__subtitle {
  max-width: 574px;
}

/* ─────────────── MAIN CONTENT ─────────────── */

.service__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 20px;
  margin-top: 62px;
}

/* ─────────────── CARD SIDE ─────────────── */

.service__card {
  position: relative;
  max-width: 370px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
}

/* ─────────────── SINGLE CARD BACKGROUND ─────────────── */

.service__card-management {
  background: rgb(222, 234, 255);
}
.service__card-international {
  background: rgb(213, 246, 237);
}
.service__card-education {
  background: rgb(251, 226, 244);
}
.service__card-bank {
  background: rgb(226, 219, 249);
}
.service__card-market {
  background: rgb(235, 239, 243);
}
.service__card-audit {
  background: rgb(255, 237, 182);
}

.service__card-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.service__card-header h3 {
  font-family: var(--font-accent);
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(21, 32, 50);
}

.service__card-text {
  height: 133px;
  margin-top: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(69, 69, 69);
}

.service__card-button {
  border-radius: 10px;
  background: rgb(21, 32, 50);
  border: none;
  padding: 9px 0;
  bottom: 0;
  margin-top: 18px;

  font-family: var(--font-accent);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
