.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
}

/* ─────────────── HEADER CONTAINER ─────────────── */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
  font-family: var(--font-accent);
}

/* ─────────────── NAVIGATION ─────────────── */
.nav__list {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  position: relative;
}

.nav__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;

  font-family: var(--font-accent);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: rgb(104, 104, 104);
}

.nav__link:focus {
  color: var(--main-color);
}

/* ─────────────── RIGHT SIDE ─────────────── */
.header__right {
  display: flex;
  align-items: center;
  gap: 34px;
}

.header__lang {
  display: flex;
  align-items: center;
  gap: 7px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  color: rgb(40, 40, 40);
  font-family: var(--font-accent);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

.header__line {
  width: 32px;
  height: 0;
  transform: rotate(90deg);
  border: 0.7px solid rgba(118, 118, 118, 0.6);
}

.header__button {
  padding: 9px 16px;
  border-radius: 8px;
  background-color: var(--main-color);
  border: none;
  cursor: pointer;

  color: #fff;
  font-family: var(--font-accent);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
}

/* ─────────────── DROPDOWN MENU ─────────────── */

.nav__item--dropdown {
  position: relative;
}

.nav__link--dropdown {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background: none;
  border: none;
}

.nav__link--dropdown:focus {
  color: var(--main-color);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px 16px;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-link {
  display: block;
  padding: 10px 0;
  border-bottom: 0.5px solid var(--accent-color);
  font-family: var(--font-accent);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  transition: background 0.2s;
  color: var(--accent-color);
}

.dropdown-link:hover {
  background-color: #f2f2f2;
  color: var(--main-color);
}

.dropdown-link:focus {
  background-color: #f2f2f2;
  color: var(--main-color);
}
