:root {
  /* Font families */
  --font-main: "Helvetica Neue", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-accent: "Open Sans", sans-serif;
  --font-profile: "Poppins", sans-serif;

  /* Font sizes */
  --fs-title: 40px;
  --fs-subtitle: 20px;
  --fs-text: 17px;

  /* Colors */
  --main-color: rgb(0, 150, 136);
  --secondary-color: rgb(253, 102, 31);
  --accent-color: rgb(104, 104, 104);

  /* Section padding */
  --section-padding: 70px 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-family: var(--font-main);
  font-size: var(--fs-title);
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0%;
  text-align: center;
}

.subtitle {
  max-width: 574px;
  font-family: var(--font-main);
  font-size: var(--fs-subtitle);
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--accent-color);
}

.text {
  font-family: var(--font-main);
  font-size: var(--fs-text);
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* ─────────────── CARD ─────────────── */

.card {
  width: 312px;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-image {
  position: relative;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-image .tag {
  position: absolute;
  top: 8px;
  left: 10px;
  background: white;
  padding: 2px 8px;
  border-radius: 6px;

  font-family: var(--font-accent);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgb(27, 29, 31);
}

.card-image img {
  max-height: 100%;
  object-fit: contain;
}

.card-title {
  margin-top: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-family: var(--font-accent);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(54, 58, 61);
}

.card-rating {
  display: flex;
  align-items: center;
  margin-top: 6px;
  font-size: 30px;
  color: #fbbf24;
}

.card-rating span {
  margin-left: 14px;
  font-family: var(--font-accent);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(82, 86, 92);
}

.card-footer {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: var(--font-accent);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2%;
  text-align: left;
  color: rgb(27, 29, 31);
}

.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgba(0, 150, 136, 0.2);
  border-radius: 50%;
  color: rgb(0, 150, 136);
  transition: all 0.3s ease;
}

.card:hover .arrow-icon {
  background: rgb(0, 150, 136);
  color: white;
}
